<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="../assets/img/profile.jpg" alt="" width="250" class="  rounded">
          </div>
          <h3 class="title">{{dataGet.fullname}}</h3>
          <h4 class="category">{{dataGet.prosition}}</h4>
          <div class="content">
            <div class="social-description">
              <p>{{jstoday}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="social-description">
            <p> &nbsp; &nbsp; จากประสบการณ์ทำงานมา 1 - 2 ปี ทำให้ผมได้เรียนรู้หลักการเขียนโปรแกรมมากขี้น หรือที่เขาเรียกว่าโปรแกรมเมอร์ นั้นเองซึ่งตอนแรกที่เราเริ่มเขียนนี่มืดแปดด้านเลยครับผม เพราะเป็นที่แรกในการทำงานที่แรก รู้สึกกดดันมาก เพราะบริษัทที่เริ่มทำเป็นบริษัท StartUp เป็นซอฟต์แวร์เฮ้าส์เล็กๆ เลยต้องเรียนรู้เองเกือยทุกอย่าง แต่ก็ขอบคุณบริษัทที่ผมไปฝึกงาน ทำให้ผมพอมีทักษะหน่อยเลยพอไปได้ โดนโยนงานแต่ละงาน ผมละปวดหัว ไปเกือบไม่เป็นแต่ก็ผ่านมาด้วยดีครับ เพราะมีพี่กูล ช่วยทุกปัญหาที่เจอ bug ซึ่งทำให้ผมรู้เลยว่าคนที่ไม่เก่งขอแค่ขยัน ศึกษา ก็สามารถเขียนโปรแกรมได้ศึกษามากๆ เดี่ยวนี้เทคโนโลยีไปเร็วมากตามไม่ทัน ผมจึงอยากไปเรียนรู้บรรยากาศการทำงานใหม่ๆบ้างว่าเป็นยังไง เพราะอยากฝึกตัวเองให้เก่งๆ </p>
          </div>
        </div>
        <div class="card-body">
          <h4 class="title"><i class="fa fa-user-circle"> </i> Personal</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
